            h1,
            label {
                color: brown;
            }
            /*             
            ul>li {
                color: blue;
            }
             */
            
            .lists {
                color: blueviolet;
            }